[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/home/www-data/projects/wts/wts
ExecStart=/home/www-data/projects/wts/venv/bin/gunicorn \
	--bind unix:/run/gunicorn/socket \
	--workers 2 \
	--pid /run/gunicorn/pid \
	--log-level debug \
	wts.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
